.App {
  text-align: center;
  border-style: solid;
  margin: 50px auto;
  width: 50%;
  padding: 20px;
  border-radius: 25px;
  background-color: rgba(211, 223, 224, 0.589);
  border: none;
}

.App-errormsg {
  color:  red;
  font-weight: bold;
}

.App-input {
  width: 80%;
  margin: 8px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
}

.App-button {
  width: 18%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 8px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  background-color: #656b6573;
  color: black;
}

.App-clearbutton {
  margin: 10px;
  padding: 8px;
  width: 30%;
  background-color: rgb(36, 144, 206);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  letter-spacing: 1px;
  border: none;
}

.App-output {
  width: 50%;
  padding: 6px 10px;
  margin-top: 5px;
  border-radius: 8px;
  background-color: white;
  border: none;
}